# 统一所有文本文件使用LF换行符
* text=auto eol=lf

# 指定特定文件类型
*.py text eol=lf
*.txt text eol=lf
*.yaml text eol=lf
*.xml text eol=lf
*.launch text eol=lf
*.urdf text eol=lf

# 二进制文件不需要转换
*.png binary
*.jpg binary
*.gif binary
*.h5 binary
*.pth binary