<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Delta5">
  <mujoco>
    <compiler
      angle="degree"
      coordinate="local"
      inertia="auto"
      mesh="auto"
      pairwise="true"
      solvers="pbd" 
      meshdir="D:\Workspace\Codes\Vscode\Delta5\meshes\" 
      balanceinertia="true" 
      discardvisual="false"/>
    <option
      timestep="0.002"
      gravity="0 0 -9.81"
      wind="0 0 0" />
  </mujoco>   
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-4.2718E-12 9.0089E-13 7.2856E-06"
        rpy="0 0 0" />
      <mass
        value="0.19791" />
      <inertia
        ixx="8.9186E-05"
        ixy="1.4172E-16"
        ixz="-1.0826E-17"
        iyy="8.9186E-05"
        iyz="-1.7964E-17"
        izz="0.00016224" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="D:\Workspace\Codes\Vscode\Delta5\meshes\base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.57255 1 0.27059 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="D:\Workspace\Codes\Vscode\Delta5\meshes\base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="motor_arm_link1">
    <inertial>
      <origin
        xyz="0.048659 4.3413E-11 -3.3963E-09"
        rpy="0 0 0" />
      <mass
        value="0.0086736" />
      <inertia
        ixx="1.2676E-06"
        ixy="-2.0074E-14"
        ixz="8.8574E-14"
        iyy="1.1572E-06"
        iyz="1.4798E-14"
        izz="1.9546E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="D:\Workspace\Codes\Vscode\Delta5\meshes\motor_arm_link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.50196 0.50196 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="D:\Workspace\Codes\Vscode\Delta5\meshes\motor_arm_link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="motor_arm_joint1"
    type="revolute">
    <origin
      xyz="0.074577 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="motor_arm_link1" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_elbow_link1">
    <inertial>
      <origin
        xyz="-0.00098819 3.0494E-10 -4.6362E-09"
        rpy="0 0 0" />
      <mass
        value="0.00085837" />
      <inertia
        ixx="1.153E-08"
        ixy="1.1375E-15"
        ixz="2.4788E-16"
        iyy="2.0402E-08"
        iyz="-3.1519E-18"
        izz="1.8973E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="D:\Workspace\Codes\Vscode\Delta5\meshes\right_elbow_link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="D:\Workspace\Codes\Vscode\Delta5\meshes\right_elbow_link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_elbow_joint1"
    type="revolute">
    <origin
      xyz="0.1 0.026 0"
      rpy="0.84525 0 1.5708" />
    <parent
      link="motor_arm_link1" />
    <child
      link="right_elbow_link1" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_arm_link1">
    <inertial>
      <origin
        xyz="-8.6914E-09 -9.7145E-16 -0.1"
        rpy="0 0 0" />
      <mass
        value="0.00075206" />
      <inertia
        ixx="4.085E-06"
        ixy="1.673E-23"
        ixz="4.0327E-22"
        iyy="4.0858E-06"
        iyz="-2.9721E-12"
        izz="2.4932E-09" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="D:\Workspace\Codes\Vscode\Delta5\meshes\right_arm_link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="D:\Workspace\Codes\Vscode\Delta5\meshes\right_arm_link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_arm_joint1"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="right_elbow_link1" />
    <child
      link="right_arm_link1" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_hinge_link1">
    <inertial>
      <origin
        xyz="-0.00098819 -3.0494E-10 4.6362E-09"
        rpy="0 0 0" />
      <mass
        value="0.00085837" />
      <inertia
        ixx="1.153E-08"
        ixy="-1.1375E-15"
        ixz="-2.4788E-16"
        iyy="2.0402E-08"
        iyz="-3.1519E-18"
        izz="1.8973E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="D:\Workspace\Codes\Vscode\Delta5\meshes\right_hinge_link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="D:\Workspace\Codes\Vscode\Delta5\meshes\right_hinge_link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_hinge_joint1"
    type="revolute">
    <origin
      xyz="0 0 -0.2"
      rpy="0 0 0" />
    <parent
      link="right_arm_link1" />
    <child
      link="right_hinge_link1" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_end_link1">
    <inertial>
      <origin
        xyz="-0.013549 4.0775E-05 -4.5973E-05"
        rpy="0 0 0" />
      <mass
        value="0.0012596" />
      <inertia
        ixx="2.3026E-08"
        ixy="2.2136E-10"
        ixz="-2.4958E-10"
        iyy="3.4619E-08"
        iyz="4.4773E-09"
        izz="3.3542E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="D:\Workspace\Codes\Vscode\Delta5\meshes\right_end_link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.50196 0.50196 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="D:\Workspace\Codes\Vscode\Delta5\meshes\right_end_link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_end_joint1"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="right_hinge_link1" />
    <child
      link="right_end_link1" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_elbow_link1">
    <inertial>
      <origin
        xyz="0.00098819 3.0494E-10 4.6362E-09"
        rpy="0 0 0" />
      <mass
        value="0.00085837" />
      <inertia
        ixx="1.153E-08"
        ixy="-1.1375E-15"
        ixz="2.4788E-16"
        iyy="2.0402E-08"
        iyz="3.1519E-18"
        izz="1.8973E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="D:\Workspace\Codes\Vscode\Delta5\meshes\left_elbow_link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="D:\Workspace\Codes\Vscode\Delta5\meshes\left_elbow_link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_elbow_joint1"
    type="revolute">
    <origin
      xyz="0.1 -0.026 0"
      rpy="0.84525 0 1.5708" />
    <parent
      link="motor_arm_link1" />
    <child
      link="left_elbow_link1" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_arm_link1">
    <inertial>
      <origin
        xyz="-8.6914E-09 -2.7756E-16 -0.1"
        rpy="0 0 0" />
      <mass
        value="0.00075206" />
      <inertia
        ixx="4.085E-06"
        ixy="-7.1052E-23"
        ixz="9.1668E-22"
        iyy="4.0858E-06"
        iyz="-2.9721E-12"
        izz="2.4932E-09" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="D:\Workspace\Codes\Vscode\Delta5\meshes\left_arm_link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="D:\Workspace\Codes\Vscode\Delta5\meshes\left_arm_link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_arm_joint1"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="left_elbow_link1" />
    <child
      link="left_arm_link1" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_hinge_link1">
    <inertial>
      <origin
        xyz="0.00098819 3.0494E-10 4.6362E-09"
        rpy="0 0 0" />
      <mass
        value="0.00085837" />
      <inertia
        ixx="1.153E-08"
        ixy="-1.1375E-15"
        ixz="2.4788E-16"
        iyy="2.0402E-08"
        iyz="3.1519E-18"
        izz="1.8973E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="D:\Workspace\Codes\Vscode\Delta5\meshes\left_hinge_link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="D:\Workspace\Codes\Vscode\Delta5\meshes\left_hinge_link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_hinge_joint1"
    type="revolute">
    <origin
      xyz="0 0 -0.2"
      rpy="0 0 0" />
    <parent
      link="left_arm_link1" />
    <child
      link="left_hinge_link1" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_end_link1">
    <inertial>
      <origin
        xyz="0.013549 4.0775E-05 -4.5973E-05"
        rpy="0 0 0" />
      <mass
        value="0.0012596" />
      <inertia
        ixx="2.3026E-08"
        ixy="-2.2136E-10"
        ixz="2.4958E-10"
        iyy="3.4619E-08"
        iyz="4.4773E-09"
        izz="3.3542E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="D:\Workspace\Codes\Vscode\Delta5\meshes\left_end_link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="D:\Workspace\Codes\Vscode\Delta5\meshes\left_end_link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_end_joint1"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="left_hinge_link1" />
    <child
      link="left_end_link1" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="end_platform">
    <inertial>
      <origin
        xyz="-4.0616E-14 7.1046E-14 -1.3017E-14"
        rpy="0 0 0" />
      <mass
        value="0.012174" />
      <inertia
        ixx="1.6001E-06"
        ixy="6.5034E-18"
        ixz="-1.0248E-20"
        iyy="1.6001E-06"
        iyz="2.8508E-20"
        izz="3.0717E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="D:\Workspace\Codes\Vscode\Delta5\meshes\end_platform.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="D:\Workspace\Codes\Vscode\Delta5\meshes\end_platform.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="end_platform"
    type="fixed">
    <origin
      xyz="0 0 -0.13271"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="end_platform" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="motor_arm_link2">
    <inertial>
      <origin
        xyz="0.048659 -1.1526E-10 -3.1381E-09"
        rpy="0 0 0" />
      <mass
        value="0.0086736" />
      <inertia
        ixx="1.2676E-06"
        ixy="-9.666E-15"
        ixz="6.8477E-14"
        iyy="1.1572E-06"
        iyz="1.7391E-14"
        izz="1.9546E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="D:\Workspace\Codes\Vscode\Delta5\meshes\motor_arm_link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.50196 0.50196 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="D:\Workspace\Codes\Vscode\Delta5\meshes\motor_arm_link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="motor_arm_joint2"
    type="revolute">
    <origin
      xyz="-0.037289 0.064586 0"
      rpy="0 0 2.0944" />
    <parent
      link="base_link" />
    <child
      link="motor_arm_link2" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_elbow_link2">
    <inertial>
      <origin
        xyz="-0.00098819 1.6333E-09 -2.2058E-09"
        rpy="0 0 0" />
      <mass
        value="0.00085837" />
      <inertia
        ixx="1.153E-08"
        ixy="1.3538E-15"
        ixz="-9.2494E-16"
        iyy="2.0402E-08"
        iyz="-7.3104E-16"
        izz="1.8973E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="D:\Workspace\Codes\Vscode\Delta5\meshes\right_elbow_link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="D:\Workspace\Codes\Vscode\Delta5\meshes\right_elbow_link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_elbow_joint2"
    type="revolute">
    <origin
      xyz="0.1 0.026 0"
      rpy="0.84525 0 1.5708" />
    <parent
      link="motor_arm_link2" />
    <child
      link="right_elbow_link2" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_arm_link2">
    <inertial>
      <origin
        xyz="-8.6914E-09 -1.3878E-16 -0.1"
        rpy="0 0 0" />
      <mass
        value="0.00075206" />
      <inertia
        ixx="4.085E-06"
        ixy="-1.0588E-22"
        ixz="-5.3922E-23"
        iyy="4.0858E-06"
        iyz="-2.9721E-12"
        izz="2.4932E-09" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="D:\Workspace\Codes\Vscode\Delta5\meshes\right_arm_link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="D:\Workspace\Codes\Vscode\Delta5\meshes\right_arm_link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_arm_joint2"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="right_elbow_link2" />
    <child
      link="right_arm_link2" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_hinge_link2">
    <inertial>
      <origin
        xyz="-0.00098819 9.8853E-10 7.0548E-09"
        rpy="0 0 0" />
      <mass
        value="0.00085837" />
      <inertia
        ixx="1.153E-08"
        ixy="-1.0788E-15"
        ixz="-1.8633E-15"
        iyy="2.0402E-08"
        iyz="5.9472E-16"
        izz="1.8973E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="D:\Workspace\Codes\Vscode\Delta5\meshes\right_hinge_link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="D:\Workspace\Codes\Vscode\Delta5\meshes\right_hinge_link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_hinge_joint2"
    type="revolute">
    <origin
      xyz="0 0 -0.2"
      rpy="0 0 0" />
    <parent
      link="right_arm_link2" />
    <child
      link="right_hinge_link2" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_end_link2">
    <inertial>
      <origin
        xyz="-0.013549 4.0775E-05 -4.5973E-05"
        rpy="0 0 0" />
      <mass
        value="0.0012596" />
      <inertia
        ixx="2.3026E-08"
        ixy="2.2136E-10"
        ixz="-2.4958E-10"
        iyy="3.4619E-08"
        iyz="4.4773E-09"
        izz="3.3542E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="D:\Workspace\Codes\Vscode\Delta5\meshes\right_end_link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.50196 0.50196 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="D:\Workspace\Codes\Vscode\Delta5\meshes\right_end_link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_end_joint2"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="right_hinge_link2" />
    <child
      link="right_end_link2" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_elbow_link2">
    <inertial>
      <origin
        xyz="0.00098819 -9.7302E-10 2.2002E-09"
        rpy="0 0 0" />
      <mass
        value="0.00085837" />
      <inertia
        ixx="1.153E-08"
        ixy="-1.084E-15"
        ixz="-8.7388E-16"
        iyy="2.0402E-08"
        iyz="-7.908E-16"
        izz="1.8973E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="D:\Workspace\Codes\Vscode\Delta5\meshes\left_elbow_link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="D:\Workspace\Codes\Vscode\Delta5\meshes\left_elbow_link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_elbow_joint2"
    type="revolute">
    <origin
      xyz="0.1 -0.026 0"
      rpy="0.84525 0 1.5708" />
    <parent
      link="motor_arm_link2" />
    <child
      link="left_elbow_link2" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_arm_link2">
    <inertial>
      <origin
        xyz="-8.6914E-09 2.2204E-16 -0.1"
        rpy="0 0 0" />
      <mass
        value="0.00075206" />
      <inertia
        ixx="4.085E-06"
        ixy="6.3527E-22"
        ixz="8.5303E-24"
        iyy="4.0858E-06"
        iyz="-2.9721E-12"
        izz="2.4932E-09" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="D:\Workspace\Codes\Vscode\Delta5\meshes\left_arm_link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="D:\Workspace\Codes\Vscode\Delta5\meshes\left_arm_link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_arm_joint2"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="left_elbow_link2" />
    <child
      link="left_arm_link2" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_hinge_link2">
    <inertial>
      <origin
        xyz="0.00098819 -9.7302E-10 2.2002E-09"
        rpy="0 0 0" />
      <mass
        value="0.00085837" />
      <inertia
        ixx="1.153E-08"
        ixy="-1.084E-15"
        ixz="-8.7388E-16"
        iyy="2.0402E-08"
        iyz="-7.908E-16"
        izz="1.8973E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="D:\Workspace\Codes\Vscode\Delta5\meshes\left_hinge_link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="D:\Workspace\Codes\Vscode\Delta5\meshes\left_hinge_link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_hinge_joint2"
    type="revolute">
    <origin
      xyz="0 0 -0.2"
      rpy="0 0 0" />
    <parent
      link="left_arm_link2" />
    <child
      link="left_hinge_link2" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_end_link2">
    <inertial>
      <origin
        xyz="0.013549 4.0775E-05 -4.5973E-05"
        rpy="0 0 0" />
      <mass
        value="0.0012596" />
      <inertia
        ixx="2.3026E-08"
        ixy="-2.2136E-10"
        ixz="2.4958E-10"
        iyy="3.4619E-08"
        iyz="4.4773E-09"
        izz="3.3542E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="D:\Workspace\Codes\Vscode\Delta5\meshes\left_end_link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="D:\Workspace\Codes\Vscode\Delta5\meshes\left_end_link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_end_joint2"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="left_hinge_link2" />
    <child
      link="left_end_link2" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="motor_arm_link3">
    <inertial>
      <origin
        xyz="0.048659 1.1069E-10 -3.4522E-09"
        rpy="0 0 0" />
      <mass
        value="0.0086736" />
      <inertia
        ixx="1.2676E-06"
        ixy="-2.2156E-14"
        ixz="9.0233E-14"
        iyy="1.1572E-06"
        iyz="2.0571E-14"
        izz="1.9546E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="D:\Workspace\Codes\Vscode\Delta5\meshes\motor_arm_link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.50196 0.50196 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="D:\Workspace\Codes\Vscode\Delta5\meshes\motor_arm_link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="motor_arm_joint3"
    type="revolute">
    <origin
      xyz="-0.037289 -0.064586 0"
      rpy="0 0 -2.0944" />
    <parent
      link="base_link" />
    <child
      link="motor_arm_link3" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_elbow_link3">
    <inertial>
      <origin
        xyz="-0.00098819 -9.8853E-10 -7.0473E-09"
        rpy="0 0 0" />
      <mass
        value="0.00085837" />
      <inertia
        ixx="1.153E-08"
        ixy="1.0788E-15"
        ixz="1.9201E-15"
        iyy="2.0402E-08"
        iyz="5.9472E-16"
        izz="1.8973E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="D:\Workspace\Codes\Vscode\Delta5\meshes\right_elbow_link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="D:\Workspace\Codes\Vscode\Delta5\meshes\right_elbow_link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_elbow_joint3"
    type="revolute">
    <origin
      xyz="0.1 0.026 0"
      rpy="0.84525 0 1.5708" />
    <parent
      link="motor_arm_link3" />
    <child
      link="right_elbow_link3" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_arm_link3">
    <inertial>
      <origin
        xyz="-8.6914E-09 2.498E-16 -0.1"
        rpy="0 0 0" />
      <mass
        value="0.00075206" />
      <inertia
        ixx="4.085E-06"
        ixy="-1.0588E-22"
        ixz="-1.0425E-21"
        iyy="4.0858E-06"
        iyz="-2.9721E-12"
        izz="2.4932E-09" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="D:\Workspace\Codes\Vscode\Delta5\meshes\right_arm_link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="D:\Workspace\Codes\Vscode\Delta5\meshes\right_arm_link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_arm_joint3"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="right_elbow_link3" />
    <child
      link="right_arm_link3" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_hinge_link3">
    <inertial>
      <origin
        xyz="-0.0009882 -1.6333E-09 2.1981E-09"
        rpy="0 0 0" />
      <mass
        value="0.00085837" />
      <inertia
        ixx="1.153E-08"
        ixy="-1.3538E-15"
        ixz="8.6724E-16"
        iyy="2.0402E-08"
        iyz="-7.3104E-16"
        izz="1.8973E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="D:\Workspace\Codes\Vscode\Delta5\meshes\right_hinge_link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="D:\Workspace\Codes\Vscode\Delta5\meshes\right_hinge_link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_hinge_joint3"
    type="revolute">
    <origin
      xyz="0 0 -0.2"
      rpy="0 0 0" />
    <parent
      link="right_arm_link3" />
    <child
      link="right_hinge_link3" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_end_link3">
    <inertial>
      <origin
        xyz="-0.013549 4.0775E-05 -4.5973E-05"
        rpy="0 0 0" />
      <mass
        value="0.0012596" />
      <inertia
        ixx="2.3026E-08"
        ixy="2.2136E-10"
        ixz="-2.4958E-10"
        iyy="3.4619E-08"
        iyz="4.4773E-09"
        izz="3.3542E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="D:\Workspace\Codes\Vscode\Delta5\meshes\right_end_link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.50196 0.50196 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="D:\Workspace\Codes\Vscode\Delta5\meshes\right_end_link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_end_joint3"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="right_hinge_link3" />
    <child
      link="right_end_link3" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_elbow_link3">
    <inertial>
      <origin
        xyz="0.00098819 1.6483E-09 7.0573E-09"
        rpy="0 0 0" />
      <mass
        value="0.00085837" />
      <inertia
        ixx="1.153E-08"
        ixy="-1.357E-15"
        ixz="1.855E-15"
        iyy="2.0402E-08"
        iyz="6.6808E-16"
        izz="1.8973E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="D:\Workspace\Codes\Vscode\Delta5\meshes\left_elbow_link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="D:\Workspace\Codes\Vscode\Delta5\meshes\left_elbow_link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_elbow_joint3"
    type="revolute">
    <origin
      xyz="0.1 -0.026 0"
      rpy="0.84525 0 1.5708" />
    <parent
      link="motor_arm_link3" />
    <child
      link="left_elbow_link3" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_arm_link3">
    <inertial>
      <origin
        xyz="-8.6914E-09 0 -0.1"
        rpy="0 0 0" />
      <mass
        value="0.00075206" />
      <inertia
        ixx="4.085E-06"
        ixy="-4.2352E-22"
        ixz="8.7081E-22"
        iyy="4.0858E-06"
        iyz="-2.9721E-12"
        izz="2.4932E-09" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="D:\Workspace\Codes\Vscode\Delta5\meshes\left_arm_link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="D:\Workspace\Codes\Vscode\Delta5\meshes\left_arm_link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_arm_joint3"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="left_elbow_link3" />
    <child
      link="left_arm_link3" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_hinge_link3">
    <inertial>
      <origin
        xyz="0.00098819 1.6483E-09 7.0573E-09"
        rpy="0 0 0" />
      <mass
        value="0.00085837" />
      <inertia
        ixx="1.153E-08"
        ixy="-1.357E-15"
        ixz="1.855E-15"
        iyy="2.0402E-08"
        iyz="6.6808E-16"
        izz="1.8973E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="D:\Workspace\Codes\Vscode\Delta5\meshes\left_hinge_link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="D:\Workspace\Codes\Vscode\Delta5\meshes\left_hinge_link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_hinge_joint3"
    type="revolute">
    <origin
      xyz="0 0 -0.2"
      rpy="0 0 0" />
    <parent
      link="left_arm_link3" />
    <child
      link="left_hinge_link3" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_end_link3">
    <inertial>
      <origin
        xyz="0.013549 4.0775E-05 -4.5973E-05"
        rpy="0 0 0" />
      <mass
        value="0.0012596" />
      <inertia
        ixx="2.3026E-08"
        ixy="-2.2136E-10"
        ixz="2.4958E-10"
        iyy="3.4619E-08"
        iyz="4.4773E-09"
        izz="3.3542E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="D:\Workspace\Codes\Vscode\Delta5\meshes\left_end_link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="D:\Workspace\Codes\Vscode\Delta5\meshes\left_end_link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_end_joint3"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="left_hinge_link3" />
    <child
      link="left_end_link3" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>